@if (productResource.isLoading()) {
  <div class="flex justify-center items-center h-screen">
    <span class="loading loading-spinner loading-lg"></span>
  </div>
}

@if (productResource.hasValue()) {

  <div class="grid grid-cols-1 sm:grid-cols-2 gap-3">
    <product-carousel [images]="productResource.value()?.images ?? []"/>

    <div>
      <h2 class="text-2xl font-bold font-montserrat">
        {{ productResource.value()?.name }}
      </h2>
      <div class="divider"></div>
      <p>
        <b>Descripción:</b> {{ productResource.value()?.description }}
      </p>
      <br>
      <p>
        <b>Categoría:</b> {{ productResource.value()?.category!.name }}
      </p>
      <br>
      <p>
        <b>Precio:</b> {{ productResource.value()?.price | currency }}
      </p>
      <br>
      <p>
        <b>Stock:</b>  {{ this.productResource.value()!.stock }}
      </p>
      <br>
      <p>
        <button class="btn btn-outline btn-sm" (click)="remove()">-</button>  <span style="font-size: larger; margin: 5px">{{cantidad()}}</span>   <button class="btn btn-outline btn-sm" (click)="add()">+</button>
      </p>
      <br>
      <button class="btn btn-outline btn-info" (click)="agregarCarrito()">Agregar al Carrito</button>
      <br>
      <br>
      <button class="btn btn-outline btn-accent" [routerLink]="['']">Atrás</button>
    </div>
  </div>

}
